cookbooks/
tmp/librarian/
TODO
.chef/
.vagrant/
.DS_Store

# These files have template counterparts to copy over
data_bags/**/*.json
!data_bags/**/*.template.json
nodes/*.json
!nodes/*.template.json
VagrantFile
site-cookbooks/webserver/templates/default/*
!site-cookbooks/webserver/templates/default/apache2.template.conf.erb
