cookbooks/
tmp/librarian/
TODO
.chef/
.vagrant/
.DS_Store
mount/*

# These files have template counterparts to copy from
data_bags/**/*.json
!data_bags/**/*.template.json

# If you want to extend this repo, and add your own remote
# remove these so that you can track your custom configuration
data_bags/**/*.json
!data_bags/**/*.template.json
nodes/*.json
!nodes/*.template.json
VagrantFile
site-cookbooks/webserver/templates/default/*
!site-cookbooks/webserver/templates/default/apache2.template.conf.erb
